$color-general:         #ffffff;
$color-general-darker:  #f1f0f5; // From equal-vue
$color-main:            #232323;
$color-main-slighter:   #272727;
$color-main-lighter:    #6c6781; // From equal-vue
$color-accent:          #3051ff;
$color-border:          #d3dae6; // From equal-vue


$color-font-main: $color-main;
$color-font-note: $color-main-lighter;
$color-dragbar: $color-general-darker;

$sidebar-width: 160px;
$dragbar-height: 10px;

