$color-general:         #ffffff;
$color-general-darker:  #f1f0f5; // From equal-vue
$color-main:            #24292e;
$color-main-slighter:   #282e33;
$color-main-lighter:    #2c3338; // From equal-vue
$color-accent:          #3051ff;
$color-border:          #d3dae6; // From equal-vue


$color-font-main: $color-main;
$color-font-note: $color-main-lighter;
$color-dragbar: $color-main-slighter;

$sidebar-width: 160px;
$dragbar-height: 10px;

